<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>


{{title}}
{{content}}

<div id="containimg">
{% for img in images %}

  <div class="imgproject">
    <span id="t1"> Peinture à la gouache, <br>10x13 cm, 2020 </span>
      <span id="t2"> Peinture à la gouache, <br>10x13 cm, 2022 </span>
<img src="{{img}}" alt="project image">


  </div>

{% endfor %}

    </div>


    <script>
      window.addEventListener("load", lancement);

      function lancement() {
        window.mouseout = function() {

        };



        document.querySelector(".imgproject:nth-child(1)").addEventListener("mouseover", desc);
        document.querySelector(".imgproject:nth-child(1)").addEventListener("mouseout", outdesc);

        document.querySelector(".imgproject:nth-child(2)").addEventListener("mouseover", desc1);
        document.querySelector(".imgproject:nth-child(2)").addEventListener("mouseout", outdesc1);

        document.querySelector(".imgproject:nth-child(1)").addEventListener("mouseover", show);
        document.querySelector(".imgproject:nth-child(1)").addEventListener("mouseout", hide);

        document.querySelector(".imgproject:nth-child(2)").addEventListener("mouseover", show1);
        document.querySelector(".imgproject:nth-child(2)").addEventListener("mouseout", hide1);

        function desc() {
          document.querySelector(".imgproject").className = "lexi";
        }

        function outdesc() {
          document.querySelector(".imgproject").className = "";
        }

        function desc1() {
          document.querySelector(".imgproject").className = "lexi";
        }

        function outdesc1() {
          document.querySelector(".imgproject").className = "";
        }

        function hide() {
          document.querySelector("#t1").style.visibility = "hidden";
        }

        function show() {
          document.querySelector("#t1").style.visibility = "visible";
        }

        function hide1() {
          document.querySelector("#t2").style.visibility = "hidden";
        }

        function show1() {
          document.querySelector("#t2").style.visibility = "visible";
        }

        }
    </script>
</body>
</html>
