<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
<!-- {{title}} -->
  {{content}}

  <div class="containimgpro">
{% for img in images %}

    <div class="imgprojectpro">

  <img src="{{img}}" alt="project image">

    </div>

{% endfor %}

      </div>



</body>
</html>
